resources/horndølbrua_2_draco.glb
resources/horndølbrua_2.glb
resources/horndølbrua_comp.glb
resources/horndølbrua_comp.gltf
resources/horndølbrua.glb
resources/horndølbrua.gltf
resources/horndølbrua.mtl
resources/horndølbrua.obj
resources/laptap_draco_2.glb
resources/Pix4D-Horndølbrua-Merge-100MEDIA-With-101Media-C1_v3-FULL_texture.jpg
